einops
jaxtyping
beartype==0.15.0
numpy
tabulate
scipy
tqdm
omegaconf
scikit-image

# MLOps
# wandb

# PyTorch-related library
torchinfo

# Configuration library
hydra-core

# Graphing library
matplotlib
plotly
imageio

# Formatter and Linter
ruff

# Testing
pytest

# Jupyter notebook
jupyterlab
ipywidgets

# Downloading data
# objaverse

# Processing point cloud and mesh
laspy[lazrs,laszip]
plyfile
# trimesh
# pyglet

# Processing voxel
PyMCubes